{% extends '@App/layout.html.twig' %}

{% block title %}SIE NasosPromServis, LLC - Products{% endblock %}

{% block content %}
    <article>
        <h1>{{ product.title }}</h1>
        {{ product.content|raw }}
        <div class="clear"></div>
    </article>
{% endblock %}
