{% extends '@App/layout.html.twig' %}

{% block title %}SIE NasosPromServis, LLC - Products{% endblock %}

{% block content %}
    <article>
        <h1>{{ product.title }}</h1>

        <div class="product-content">
            {% if product.content %}
                {{ product.content|raw }}
            {% endif %}
        </div>

        <div class="gallery">
            {% for picture in product.pictures.galleryHasMedias %}
                <a href="{% path picture.media, 'big' %}" target="_blank">
                    {% thumbnail picture.media, 'small' %}
                </a>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </article>
{% endblock %}
