<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    {% stylesheets 'bundles/app/css/*' -%}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets -%}
    <script src="/js/html5.js"></script>
    <meta name="description" content="<?=$meta_descr?>">
    <meta name='yandex-verification' content='7e7fef899d2fc27a'>
</head>

<body>

<div id="wrapper">

    <header>
        <h1><a href="{{ path('app_index') }}">{{ 'home.header_link'|trans|raw }}</a></h1>
        <h2>{{ 'home.header'|trans }}</h2>

        {#<?php#}
		{#if($path != 'main') {#}
			{#include 'menu.php';#}
		{#}#}
	{#?>#}
    </header>

    <div id="content">

        {% block content %}
        {% endblock %}

    </div><!-- div#content -->


</div><!-- div#wrapper -->

<div class="clear"></div>

<footer><div class="inner">
        <address>Научно-производственное предприятие ООО &laquo;НасосПромСервис&raquo;.
            Украина, г. Сумы, ул. Воеводина 27/2. Тел. (факс) +38 (0542) 64-08-92</address>
    </div></footer>

</body>

</html>
