{% extends '@App/layout.html.twig' %}

{% block title %}Продукция - НПП НасосПромСервис{% endblock %}

{% block content %}

    <article>
        <h1>Продукция</h1>

        <p>НПП &laquo;НасосПромСервис&raquo; производит промышленные изделия и запасные части к насосам, перечень которых представлен ниже. Для информации о ценах просим <a href="/contact" alt="Контактные данные" title="Контактные данные">связаться с нами</a>.</p>

        <ul>
            <li>Насосы и запасные части к насосному оборудованию:
                <ul>
                    <li><a href="/production/cns-300">Насос ЦНС 300-360</a></li>
                    <li><a href="/production/part">Выемная часть насоса НМ</a></li>
                    <li><a href="/production/cns">Запасные части к насосам типа Д, Кс, КсВ, НМ, ПЭ, ЦН, ЦНС, ХБ (рабочие колёса, направляющие аппараты, валы, корпуса секций и подшипников)</a></li>
                    <li>Запасные части к поршневым, водокольцевым и центробежным компрессорам (штока, поршни, клапана, шатуны, и другое)</li>
                </ul>
            </li>
            <li><a href="/production/gok">Горно-обогатительная отрасль</a>
                <ul>
                    <li><a href="/production/tooth">Зуб 2-160338</a></li>
                    <li><a href="/production/wedge">Клин 4-864548</a></li>
                    <li><a href="/production/circle">Кольцо 4-742743</a></li>
                    <li><a href="/production/cron">Кронштейн</a></li>
                    <li><a href="/production/traction">Тяга</a></li>
                </ul>
            </li>
            <li>Продукция для нефтеперерабатывающей и нефтедобывающей промышленностей:
                <ul>
                    <li><a href="/production/k302">Клапан-отсекатель К302</a></li>
                    <li><a href="/production/rezak">Резак гидравлический ГРУ 170/180</a></li>
                    <li><a href="/production/radiant">Радиантный змеевик трубчатой печи для гидравлической очистки масла</a></li>
                    <li><a href="/production/convect">Змеевик конвекции</a></li>
                    <li><a href="/production/snake">Продуктовый змеевик печи ВС1х5</a></li>
                </ul>
            </li>
            <li>Центрифуги:
                <ul>
                    <li><a href="/production/centr">Запасные части к центрифугам ОГШ, 1/2 ФГП, ФГН 2001 и другим</a></li>
                </ul>
            </li>
            <li>Нестандартное оборудование:
                <ul>
                    <li><a href="/production/balley">Питатель типа &quot;Баллей&quot;</a></li>
                    <li><a href="/production/spike">Ошиповка труб и поверхностей нагрева</a></li>
                </ul>
            </li>
        </ul>

        Для уточнения деталей и информации о ценах можно <a href="/contact" alt="Контактные данные" title="Контактные данные">установить контакт</a> с офисом предприятия. Благодарим за внимание.

        <div class="clear"></div>
    </article>

{% endblock %}
