{% extends '@App/layout.html.twig' %}

{% block title %}SIE NasosPromServis, LLC{% endblock %}

{% block content %}
    <article>
        <h1>{{ page.title }}</h1>
        {{ page.content|raw }}

        <div class="gallery">
            {% if page.gallery %}
                {% for picture in page.gallery.galleryHasMedias %}
                    <a href="{% path picture.media, 'big' %}" target="_blank">
                        {% thumbnail picture.media, 'small' %}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="clear"></div>
    </article>
{% endblock %}
