{% extends '@App/layout.html.twig' %}

{% block title %}НПП НасосПромСервис{% endblock %}

{% block content %}

    <div id="menu">
        <a class="item i1" href="production">Продукция</a>
        <div class="block-image img1 i11"></div>
        <div class="block-image img1 i12"></div>
        <div class="block-image img1 i13"></div>
        <div class="clear"></div>

        <a class="item i2" href="contact">Контакты</a>
        <div class="block-image img1 i21"></div>
        <div class="block-image img1 i22"></div>
        <div class="block-image img1 i23"></div>
        <div class="clear"></div>

        <a class="item i3" href="about">О компании</a>
        <div class="block-image img1 i31"></div>
        <div class="block-image img1 i32"></div>
        <div class="block-image img1 i33"></div>
        <div class="clear"></div>

        <a class="item i4" href="services">Услуги</a>
        <div class="block-image img1 i41"></div>
        <div class="block-image img1 i42"></div>
        <div class="block-image img1 i43"></div>
    </div><!-- div#menu -->

{% endblock %}
